<button class="btn btn-primary" type="button" ng-click="add()">新增</button>
<button class="btn btn-primary" type="button" ng-click="del()">删除</button>
<button class="btn btn-primary" type="button" ng-click="reload()">刷新</button>
<hr>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>序号</th>
        <th>工号</th>
        <th>姓名</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="t in teachers" on-repeat-finish="renderTable()">
        <td><input type="checkbox" name="list" value="{{$index}}"></td>
        <td>{{$index+1}}</td>
        <td>{{t.id}}</td>
        <td>{{t.name}}</td>
    </tr>
    </tbody>
</table>
<script type="text/ng-template" id="add.html">
    <div class="modal-header">
        <h4 class="modal-title">新增教师</h4>
    </div>
    <div class="modal-body">
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <form class="form-horizontal">
            <div class="form-group {{!teacher.id&&check?'has-error':''}}">
                <label for="id" class="col-md-2 control-label">工号</label>
                <div class="col-md-8">
                    <div class="form-group">
                        <input id="id" type="text" placeholder="小写字母和数字组成，不超过32位" ng-model="teacher.id" class="form-control rounded" required>
                    </div>
                </div>
            </div>
            <div class="form-group {{!teacher.name&&check?'has-error':''}}">
                <label for="name" class="col-md-2 control-label">姓名</label>
                <div class="col-md-8">
                    <div class="form-group">
                        <input id="name" type="text" placeholder="不超过64位" ng-model="teacher.name" class="form-control rounded" required>
                    </div>
                </div>
            </div>
            <div class="form-group {{!teacher.password&&check?'has-error':''}}">
                <label for="password" class="col-md-2 control-label">初始密码</label>
                <div class="col-md-8">
                    <div class="form-group">
                        <input id="password" type="password" placeholder="6~32位" ng-model="teacher.password" class="form-control rounded" required>
                    </div>
                </div>
            </div>
            <div class="form-group {{teacher.password!=repwd&&check?'has-error':''}}">
                <label for="repwd" class="col-md-2 control-label">重复密码</label>
                <div class="col-md-8">
                    <div class="form-group">
                        <input id="repwd" type="password" ng-model="repwd" class="form-control rounded" required>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</script>